/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
  font-family: 'RocknRoll One', cursive;
}

.main-text{
  margin: 100px;
  font-size: 1.1em;
}
